*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box,
}
body
{
    /* background: #ddeefc; */
    background: darksalmon;
    font-family: 'Lato', sans-serif;
}
.container
{
    width: 90%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
*Card Styles
*/

.card
{
    width: 100%;
    max-width: 550px;
    position: relative;
    color: #fff;
    transition: .3 ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 2;

}
.card .front
{
    backface-visibility: hidden;
}

/* TODO: active javascript function */
.card.active
{
    transform: rotateY(180deg);
}
.card > div
{
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

/* Frontal Card */

.card .front
{
    width: 100%;
    background: url(../img/bg-card/bg-card-2.jpg);
    background-size: cover;
}

.front .logo
{
    text-align: right;
    min-height: 58px;
}

.front .logo img
{
    object-fit: cover;
    max-width: 80px;
}
.front .chip
{
    width: 100%;
    height: 40px;
    max-width: 60px;
    margin-bottom: 20px;
}

.front .data .group .label
{
    font-size: 16px;
    color: #c3c3c0;
    margin-bottom: 5px;
}
.front .group .numero,
.front .group .nombre,
.front .group .expiracion
{
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}
.front .flexbox
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* back Face card */
.back
{
    width: 100%;
    background: url(../img/bg-card/bg-card-2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    /* backface-visibility: hidden; */
    transform: rotateY(180deg);
}
